html {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-top: 20px;
}

ol {
    list-style-type: lower-alpha;
}

ol li {
    padding: 2px;
}

#resultado_fibonacci, #resultado_string, #resultado_soma {
    color: blueviolet;    
    margin-top: 6px;
}

.footer {
    background: #5f5d5d;    
    margin-top: 20px;
}